<!DOCTYPE html>
<html>
<head>
    <title>Suspend Account</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <h1>Suspend Account</h1>
    
    <!-- To convert to clicking button in view instead -->

    
    <form action="suspendAccount.php" method="POST">
        <label for="user_id">Account ID:</label>
        <input type="text" id="user_id" name="user_id" required><br><br>
        
        <input type="submit" value="Suspend Account">
    </form>
</body>
</html>